{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="page-group">
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
                <a class="icon icon-me pull-left open-panel"></a>
                <h1 class="title">标题</h1>
            </header>

            <!-- 这里是页面内容区 -->
            <div class="content">
                <div class="content-block">这里是content</div>
            </div>

            <!-- 工具栏 -->
            <nav class="bar bar-tab">
                <a class="tab-item active" href="#">
                    <span class="icon icon-home"></span>
                    <span class="tab-label">页面1</span>
                </a>
                <a class="tab-item" href="/page2.html">
                    <span class="icon icon-star"></span>
                    <span class="tab-label">页面2</span>
                </a>
                <a class="tab-item" href="/page3.html">
                    <span class="icon icon-settings"></span>
                    <span class="tab-label">页面3</span>
                </a>
            </nav>
        </div>
    </div>

    <!-- popup, panel 等放在这里 -->
    <div class="panel-overlay"></div>
    <!-- Left Panel with Reveal effect -->
    <div class="panel panel-left panel-reveal">
        <div class="content-block">
            <p>这是一个侧栏</p>
            <p></p>
            <!-- Click on link with "close-panel" class will close panel -->
            <p><a href="#" class="close-panel">关闭</a></p>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script src="javascripts/app.js"></script>
{% endblock %}
